.footer {
  display: block;
  padding-top: 150px;
  padding-bottom: 25px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgb(3 9 31 / 95%);
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/footer-small-shapes.png);
    animation: MoveI 7s infinite;
    transform-origin: 50% 90%;
    pointer-events: none;
    opacity: .7;
  }

  .footer-logo {
    max-height: 65px;
    max-width: fit-content;
    object-fit: cover;
    margin-bottom: 30px;

    @media (max-width: $screen-md) {
      margin-bottom: 12px;
    }

    @media (max-width: 550px) {
      max-height: 50px;
      margin: 0 auto 12px;
    }
  }

  .footer-title {
    font-size: 14px;
    color: #fff;
    line-height: 1.9;

    @media (max-width: 550px) {
      font-size: 13px;
      text-align: center;
    }
  }

  .top-footer {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .top-title {
      display: block;
      padding: 0 60px 15px;
      font-size: 22px;
      color: #666666;
      margin-bottom: 15px;
      border-bottom: 1px solid #666666;

      @media (max-width: 425px) {
        padding: 0 25px 15px;
        font-size: 19px;
      }
    }
  }

  .footer-links {
    .hint-footer {
      font-size: 17px;
      // color: #353333;
      margin-bottom: 20px;
    }

    .foot-title,
    .main-foot-title {
      font-size: 16px;
      color: #fff;
      position: relative;
      font-weight: 500;

      &.active {
        &::after {
          transform: rotate(180deg);
        }
      }

      @media (max-width: $screen-md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .foot-title {
      padding: 4px 0px;
      margin-bottom: 50px;

      @media (max-width: $screen-sm) {
        margin-bottom: 35px !important;
        font-size: 15px;
      }

      &::before {
        @include dir-left(0);
        top: 100%;
        margin-top: 10px;
        height: 2px;
        width: 65px;
        background: #fff;
        content: " ";
        position: absolute;
        border-radius: 16px;

        @media (max-width: $screen-sm) {
          width: 50px;
        }
      }

      &.red {
        &::before {
          background: #e02727;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;

      .act-befor {
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        position: relative;
        transition: 0.5s;

        @media (max-width: 550px) {
          font-size: 13px;
        }

        span {
          display: block;
          transition: 0.5s;

          &:hover {
            #{$ltr} & {
              transform: translateX(15px);
            }

            #{$rtl} & {
              transform: translateX(-15px);
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        i {
          margin-inline-end: 10px;
          font-size: 15px;
          // color: #f7d890;

          #{$ltr} & {
            transform: rotate(180deg);
          }

          #{$rtl} & {
            transform: rotate(0);
          }

          @media (max-width: 550px) {
            font-size: 13px;
          }
        }
      }
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }

    li {
      @media (max-width: 550px) {
        margin-bottom: 15px;
      }

      &:not(:last-child) {
        @include dir-margin-right(100px);

        @media (max-width: 1024px) {
          @include dir-margin-right(45px);
        }

        @media (max-width: $screen-md) {
          @include dir-margin-right(25px);
        }

        @media (max-width: 550px) {
          @include dir-margin-right(20px);
        }
      }

      .link-footer {
        font-size: 18px;
        color: #666666;

        @media (max-width: $screen-md) {
          font-size: 17px;
        }

        @media (max-width: 550px) {
          font-size: 17px;
        }
      }
    }

    .dropdown-link {
      position: relative;
      cursor: pointer;

      .dropdown-menu.show {
        padding: 25px 30px;
        text-align: center;
        top: -22px !important;
        @include dir-right(150% !important);
        min-width: 225px !important;

        @media (max-width: $screen-md) {
          top: -20px !important;
          min-width: 180px !important;
          @include dir-right(80% !important);
        }

        @media (max-width: 375px) {
          @include dir-right(70% !important);
          min-width: 150px !important;
          padding: 25px 15px;
        }

        @media (max-width: $screen-xxs) {
          @include dir-right(25% !important);
        }

        // transform: translate(-50%, -50%) !important;
      }

      .hint-menue {
        display: block;
        font-size: 17px;
        color: #666666;

        @media (max-width: $screen-md) {
          font-size: 15px;
        }

        &:not(:last-child) {
          padding-bottom: 10px;
          border-bottom: 1px solid #666666;
          margin-bottom: 10px;
        }
      }
    }

    &.without-arrow {
      .foot-title {
        pointer-events: none;

        &::after {
          display: none;
        }
      }

      .links {
        display: block !important;
      }
    }
  }

  .copyright {
    padding: 15px 0;

    // background-color: rgba(128, 128, 128, 20%);
    @media (max-width: 550px) {
      padding: 8px 0 12px;
    }

    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      border-top: 1px solid rgba(112, 112, 112, 38%);

      @media (max-width: 550px) {
        flex-direction: column;
      }

      .right-title,
      .left-title {
        font-size: 14px;
        color: #fff;

        a {
          color: #fff;
          margin-inline-start: 2px;
        }

        @media (max-width: 550px) {
          font-size: 13px;
        }
      }

      .right-title {
        @media (max-width: 550px) {
          margin-bottom: 5px;
        }
      }
    }
  }
}

@keyframes MoveI {
  0% {
    transform: translate3d(0, 0, 0px);
  }

  33% {
    transform: translate3d(-10px, -10px, 25px);
  }

  66% {
    transform: translate3d(10px, 10px, 50px);
  }

  100% {
    transform: translate3d(0, 0, 0px);
  }
}


.footer-right-img,
.footer-left-img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
  padding: 10px 0;
  opacity: .3;
}

.footer-right-img {
  @include dir-left(0);
}

.footer-left-img {
  @include dir-right(0);

  @media (max-width: 550px) {
    display: none;
  }
}

.without-event {
  @media (max-width: $screen-md) {
    margin-bottom: 25px !important;
  }

  @media (max-width: 550px) {
    margin-bottom: 12px !important;
  }
}

.copy_sec{
  border-top: 1px solid rgba($color: $white, $alpha: .2);
  text-align: center;
  color: $white;
  margin-top: 35px;
  padding-top: 20px;
}


.footer-icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  .icon {
    @include shape(38px, 4px);
    background-color: #333333;
    color: #fff;
    @include center;

    &.main{
      background-color: $main;
    }

    @media (max-width: 550px) {
      @include shape(38px, 4px);
    }

    &:hover {
      transform: rotate(360deg);
      border-radius: 50%;
    }

    img {
      max-width: 16px;
      max-height: 16px;
      // object-fit: cover;
    }
  }
}